{#  "

    "
}{v{:

}}{syn html

}<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>End Notes</title>
        <link href="stylesheet.css" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" type="application/vnd.adobe-page-template+xml" href="page-template.xpgt"/>

        {$ LICENSE-LINK-HTML }
        <link rel="contents" href="toc.xhtml" />
        <link rel="start" href="frontcover.xhtml" />

        <link rel="prev" href="{$ LAST-GEN-FILE-HTML}" />
    </head>
    <body class='backmatter rearnotes'>
        <div class='title'>
            <h1>All Chapter Notes</h1>
        </div>

{$ ENDNOTES-HTML}
    </body>
</html>
