{#  "

    "
}{syntax xml

}<?xml version="1.0" encoding="UTF-8"?>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:epub="http://www.idpf.org/2007/ops"
>
    <head>
        <title>{$ TITLE}</title>
    </head>

    <body>

        <nav id="toc" epub:type="toc">
            <h2>Complete Contents</h2>
            <ol>
                <li id='frontCover' class='frontMatter'><a epub:type="cover" href="frontcover.xhtml">Front Cover</a></li>
                <li id='titlePage' class='frontMatter'><a epub:type="titlepage" href="title_page.xhtml">Title Page</a></li>
                <li id='contents' class='frontMatter'><a epub:type="toc" href="toc.xhtml">Table of Contents</a></li>
{$ NAV-HTML}

                <li id='endNotes' class='backmatter'><a epub:type="rearnotes" href="endnotes.xhtml">All Chapter Notes</a></li>
            </ol>
        </nav>

        <nav epub:type="landmarks">
            <h2>Guide</h2>
            <ol>
                <li><a epub:type="cover" href="frontcover.xhtml">Front Cover</a></li>
                <li><a epub:type="titlepage" href="title_page.xhtml">Title Page</a></li>
                <li><a epub:type="toc" href="toc.xhtml">Table of Contents</a></li>
                <li><a epub:type="bodymatter" href="chapter0001.xhtml">Content</a></li>
                <li><a epub:type="rearnotes" href="endnotes.xhtml">All Chapter Notes</a></li>
            </ol>
        </nav>

    </body>
</html>
