/*
 * NOTE: To hide things in Adobe Digital Editions, for some reason you need to
 * add a display:none rule in the *.xpgt page template, under ade:style element.
 * Putting display:block here does not work for ADE.
 */

/****** GENERAL STYLE *******/


/* Set margins at 2% (This gives a white border around the book) */
body {
    margin-left:2%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%;
}

p {
    margin: 0 0;
    line-height: 1.3;
    text-indent: 2em;
    text-align: justify;
}
pre {
    page-break-inside: avoid;
    page-break-before: avoid;
}

p.firstPar.firstScene {
    text-indent: 0;
}

a:link {
    text-decoration: none;
}



/****** SPECIFIC CLASSES ****/

.cover, .frontmatter {
    text-align: center;
}
.cover h1, .cover h2, .cover h3, .cover h4, .cover h5, .cover h6,
.frontmatter h1, .frontmatter h2, .frontmatter h3, .frontmatter h4, .frontmatter h5, .frontmatter h6 {
    margin: 1ex 0;
}
.cover hr, .frontmatter hr {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}
.cover hr.lastTitle, .frontmatter hr.lastTitle {
    display: none;
    visibility: hidden;
}
.cover #authors {
    margin-top: 7ex;
}
.cover #authors hr {
    width: 26%;
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom: 7ex;
}
.cover #authors ol, #titlepage #authors ol {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    text-align: center;
}
.cover #authors li, #titlepage #authors li {
    padding-left: 0;
    margin-left: 0;
}
#titlepage #authors {
    margin-top: 10ex;
    margin-bottom: 6ex;
}
#titlepage #authors hr {
    display: none;
    visibility: hidden;
}
#copyright-page {
    font-size: smaller;
    line-height: 1.6;
}

#toc ol, #toc ul {
    margin-top: 3ex;
}
#toc li {
    margin-top: 0.3ex;
}
#toc li.backmatter {
    margin-top: 2.0ex;
}


.part div.title, .book div.title {
    margin-top: 14ex;
    text-align: center;
}
.part hr, .book hr {
    margin-left: 30%;
    margin-right: 30%;
}

.chapter div.title {
    text-align: center;
    margin-bottom: 5ex;
}
.chapter .title * {
    margin: 0 0 0.1em 0;
}
.chapter .title .titleGeneric {
    display: inline-block;
    padding: 0 0.5em 0.3em 0.5em;
    border-bottom: 2px groove;
    margin-bottom: 0.3em;
}

hr.sceneSep {
    margin-top: 2.5ex;
    margin-bottom: 2.5ex;
    margin-left: 35%;
    margin-right: 35%;
    page-break-after: avoid;
    page-break-before: avoid;
}

.lastScene hr.sceneSep, hr.sceneSep.lastScene {
    display: none;
    visibility: hidden;
}


.toc ol, .toc ul, ol.toc, ul.toc {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
}

dt.note {
    page-break-after: avoid;
    float: left;
    clear: both;
}
dd.note {
    page-break-before: avoid;
    margin-bottom: 1.5ex;
}
dd.note p {
    text-indent: 0;
    margin-bottom: 0.7em;
}

.noteref {
    vertical-align: super;
    font-size: x-small;
}

.chapter div.rearnotes {
    border-top: 2px groove;
    margin-top: 4ex;
}
.chapter div.rearnotes.nonotes {
    border-top: none;
    margin-top: 1ex;
}
.chapter .rearnotes h2 {
    font-size: medium;
}

blockquote {
    display: block;
    margin: 1em 3em;
}

/******** Custom Style Classes **************/

.briefhr {
    margin-left:35%;
    margin-right:35%;
    page-break-before: avoid;
    page-break-after: avoid;
}



